In [1]:
import sys
!pip install geocoder
!pip install geopy
!pip install wget
!pip install mtranslate
!pip install pandas
!pip install matplotlib
!pip install sklearn

Requirement already satisfied: geocoder in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (1.38.1)
Requirement already satisfied: ratelim in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from geocoder) (0.1.6)
Requirement already satisfied: requests in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from geocoder) (2.23.0)
Requirement already satisfied: future in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from geocoder) (0.18.2)
Requirement already satisfied: six in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from geocoder) (1.14.0)
Requirement already satisfied: click in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from geocoder) (7.1.1)
Requirement already satisfied: decorator in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from requests->geocoder) (2020.4.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from requests->geocoder) (1.25.8)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from requests->geocoder) (2.9)
Requirement already satisfied: geopy in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (1.21.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from geopy) (1.50)
Requirement already satisfied: wget in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (3.2)
Requirement already satisfied: mtranslate in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (1.6)
Requirement already satisfied: pandas in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (1.0.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from pandas) (1.18.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Requirement already satisfied: matplotlib in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (3.2.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: numpy>=1.11 in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from matplotlib) (1.18.2)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: six>=1.5 in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from python-dateutil>=2.1->matplotlib) (1.14.0)
Requirement already satisfied: sklearn in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from scikit-learn->sklearn) (0.14.1)
Requirement already satisfied: numpy>=1.11.0 in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from scikit-learn->sklearn) (1.18.2)
Requirement already satisfied: scipy>=0.17.0 in c:\users\naveed shaikh\pycharmprojects\commerscanner\venv\lib\site-packages (from scikit-learn->sklearn) (1.4.1)

In [19]:
import numpy as np # library to handle data in a vectorized manner
from mtranslate import translate
# import mtranslate as mt
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors


# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

In [3]:
cols = ['User_ID', 'Venue_ID', 'Category_ID', 'Category_Name', 'Latitude', 'Longitude', "Time Zone(off. mins)", "UTC Time"] 
df = pd.read_csv('../data/dataset_TSMC2014_TKY.txt', sep='\t', lineterminator='\n', encoding = "ISO-8859-1")
df.columns = cols
df.reset_index() 

df.head(5)

,User_ID,Venue_ID,Category_ID,Category_Name,Latitude,Longitude,Time Zone(off. mins),UTC Time
0,868,4b7b884ff964a5207d662fe3,4bf58dd8d48988d1d1941735,Ramen / Noodle House,35.715581,139.800317,540,Tue Apr 03 18:22:04 +0000 2012\r
1,114,4c16fdda96040f477cc473a5,4d954b0ea243a5684a65b473,Convenience Store,35.714542,139.480065,540,Tue Apr 03 19:12:07 +0000 2012\r
2,868,4c178638c2dfc928651ea869,4bf58dd8d48988d118951735,Food & Drink Shop,35.725592,139.776633,540,Tue Apr 03 19:12:13 +0000 2012\r
3,1458,4f568309e4b071452e447afe,4f2a210c4b9023bd5841ed28,Housing Development,35.656083,139.734045,540,Tue Apr 03 19:18:23 +0000 2012\r
4,1541,4b83b207f964a5202c0d31e3,4bf58dd8d48988d1f8941735,Furniture / Home Store,35.705074,139.619502,540,Tue Apr 03 19:20:09 +0000 2012\r

In [4]:
# define the dataframe columns
column_names = ['Venue_ID', 'Category_Name', 'Visitor_Count', 'Latitude', 'Longitude'] 

# instantiate the dataframe
venue_data = pd.DataFrame(columns=column_names)

v = df.groupby('Venue_ID')[['User_ID']].transform('count')
df['Visitor_Count'] = v.User_ID
g = df.drop_duplicates(subset=['Venue_ID', 'Visitor_Count'])
g = g[:2000] # We are only interested in the first 2000 entries
g.head(5)

,User_ID,Venue_ID,Category_ID,Category_Name,Latitude,Longitude,Time Zone(off. mins),UTC Time,Visitor_Count
0,868,4b7b884ff964a5207d662fe3,4bf58dd8d48988d1d1941735,Ramen / Noodle House,35.715581,139.800317,540,Tue Apr 03 18:22:04 +0000 2012\r,6
1,114,4c16fdda96040f477cc473a5,4d954b0ea243a5684a65b473,Convenience Store,35.714542,139.480065,540,Tue Apr 03 19:12:07 +0000 2012\r,84
2,868,4c178638c2dfc928651ea869,4bf58dd8d48988d118951735,Food & Drink Shop,35.725592,139.776633,540,Tue Apr 03 19:12:13 +0000 2012\r,6
3,1458,4f568309e4b071452e447afe,4f2a210c4b9023bd5841ed28,Housing Development,35.656083,139.734045,540,Tue Apr 03 19:18:23 +0000 2012\r,3
4,1541,4b83b207f964a5202c0d31e3,4bf58dd8d48988d1f8941735,Furniture / Home Store,35.705074,139.619502,540,Tue Apr 03 19:20:09 +0000 2012\r,2

In [5]:
# Checking if we have grouped successfully
print('The dataframe has {} venues with total of {} visitors.'.format(
        len(g['Venue_ID'].unique()),
        sum(g['Visitor_Count'])
    )
)
g.shape

The dataframe has 2000 venues with total of 248122 visitors.

(2000, 9)

In [6]:
venue_data = g.drop(['User_ID', 'Category_ID', "Time Zone(off. mins)", "UTC Time"], axis=1)
venue_data.head(5)

,Venue_ID,Category_Name,Latitude,Longitude,Visitor_Count
0,4b7b884ff964a5207d662fe3,Ramen / Noodle House,35.715581,139.800317,6
1,4c16fdda96040f477cc473a5,Convenience Store,35.714542,139.480065,84
2,4c178638c2dfc928651ea869,Food & Drink Shop,35.725592,139.776633,6
3,4f568309e4b071452e447afe,Housing Development,35.656083,139.734045,3
4,4b83b207f964a5202c0d31e3,Furniture / Home Store,35.705074,139.619502,2

In [7]:
#Sorting the data so we get the top visited place first
sorted_venue_data = venue_data.sort_values(['Visitor_Count'], axis=0, ascending=False, inplace=False, kind='quicksort', na_position='last')

sorted_venue_data_2 = sorted_venue_data.copy()
sorted_venue_data.head(5)

,Venue_ID,Category_Name,Latitude,Longitude,Visitor_Count
162,4b19f917f964a520abe623e3,Train Station,35.698596,139.773018,12372
43,4b0587a6f964a5203d9e22e3,Train Station,35.690803,139.700279,11891
18,4b243a7df964a520356424e3,Train Station,35.729865,139.710956,6969
66,4b093eeff964a520e51423e3,Train Station,35.658522,139.701326,6408
25,4b0587a6f964a5203e9e22e3,Train Station,35.681379,139.766082,5006

In [8]:
#Grouping by category names and then sorting
v = sorted_venue_data.groupby('Category_Name')[['Visitor_Count']].transform('sum')
sorted_venue_data['Visitor_Count'] = v.Visitor_Count
cat_df = sorted_venue_data.drop_duplicates(subset=['Category_Name', 'Visitor_Count'])


final_data = cat_df.sort_values(['Visitor_Count'], axis=0, ascending=False, inplace=False, kind='quicksort', na_position='last')
final_data.head(5)

,Venue_ID,Category_Name,Latitude,Longitude,Visitor_Count
162,4b19f917f964a520abe623e3,Train Station,35.698596,139.773018,160113
322,4b380ad7f964a520bc4a25e3,Subway,35.665115,139.712459,29302
1091,4b55670ff964a52071e327e3,Electronics Store,35.699015,139.774622,6644
2005,4bbac8b753649c742f7249fb,Office,35.699882,139.772414,3167
1872,4b0a57d1f964a5205d2323e3,Mall,35.532942,139.695765,2745

In [9]:
categories_of_interest = ['Food & Drink Shop', 'Electronics Store', 'Coffee Shop', 'Restaurant', 'Arts & Crafts Store', 'Gastropub', 
                  'Mobile Phone Shop', 'Café', 'Automative Shop', 'American Restaurant', 'Food & Drink Shop', 'Burger Joint',
                  'Mexican Restaurant', 'Sandwich Place', 'Clothing Store', 'Ice Cream Shop', 'Pizza Place', 'Jewelry Store', 
                  'Soup Place', 'Tattoo Parlor', 'Deli / Bodega', 'Diner', 'Salon / Barbershop', 'Laundry Service', 'Bar', 
                  'Gym / Fitness Center', 'Hotel', 'Music Venue', 'BBQ Joint', 'Bookstore', 'Drugstore / Pharmacy',
                  'Sporting Goods Shop', 'Bakery', 'Fast Food Restaurant', 'Chinese Restaurant', 'Theater', 'Movie Theater', 
                  'Sushi Restaurant', 'Miscellaneous Shop', 'French Restaurant', 'Seafood Restaurant', 'Fried Chicken Joint', 
                  'Italian Restaurant', 'Toy / Game Store', 'Vegetarian / Vegan Restaurant', 'Donut Shop', 'German Restaurant', 
                  'Bowling Alley', 'Beer Garden', 'Candy Store', 'Bagel Shop', 'Cuban Restaurant', 'Cupcake Shop', 
                  'Breakfast Spot', 'Hardware Store', 'Japanese Restaurant',  'Latin American Restaurant', 'Spanish Restaurant',
                  'Spa / Massage', 'Middle Eastern Restaurant', 'Malaysian Restaurant', 'Record Shop', 'Wings Joint', 
                  'Gas Station / Garage', 'Asian Restaurant', 'Burrito Place', 'Thai Restaurant', 'Salad Place', 
                  'Ramen /  Noodle House', 'Automotive Shop', 'Convenience Store', 'Tea Room',  'Indian Restaurant', 
                  'Thrift / Vintage Store', 'Paper / Office Supplies Store', 'Cosmetics Shop', 'Southern / Soul Food Restaurant',
                  'Smoke Shop', 'Snack Place', 'Furniture / Home Store', 'Caribbean Restaurant', 'Video Game Store', 'Steakhouse',
                  'Greek Restaurant', 'Dumpling Restaurant', 'Mediterranean Restaurant', 'African Restaurant', 'Taco Place', 
                  'Jewelry Store', 'Hot Dog Joint', 'South American Restaurant', 'Winery']
df_filtered = final_data[final_data['Category_Name'].isin(categories_of_interest)] 
df_filtered.sort_values(['Visitor_Count'], axis=0, ascending=False, inplace=False, kind='quicksort', na_position='last')
df_filtered.head(5)

,Venue_ID,Category_Name,Latitude,Longitude,Visitor_Count
1091,4b55670ff964a52071e327e3,Electronics Store,35.699015,139.774622,6644
1990,4b0bc75ff964a520923323e3,Bookstore,35.700427,139.771752,2503
51,4b5d2ad2f964a520535529e3,Convenience Store,35.552431,139.647492,2137
2362,4df8690581304987d7fadc27,Coffee Shop,35.617692,139.728692,1561
995,4b5bc2e0f964a520ad1429e3,Food & Drink Shop,35.770128,139.660808,1478

In [10]:
df_filtered.shape

(59, 5)

In [11]:
maxVisited = df_filtered['Category_Name'].iloc[0]
print(maxVisited)

Electronics Store

In [12]:
# We need to find the number of each of the commercial type within 4 km of a given coordinate. So we use the sorted_venue_data df again  because a commercial shop category maybe available in multiple locations
# Remember to remove the unwanted categories from it

categories_of_interest = ['Food & Drink Shop', 'Electronics Store', 'Coffee Shop', 'Restaurant', 'Arts & Crafts Store', 'Gastropub', 
                  'Mobile Phone Shop', 'Café', 'Automative Shop', 'American Restaurant', 'Food & Drink Shop', 'Burger Joint',
                  'Mexican Restaurant', 'Sandwich Place', 'Clothing Store', 'Ice Cream Shop', 'Pizza Place', 'Jewelry Store', 
                  'Soup Place', 'Tattoo Parlor', 'Deli / Bodega', 'Diner', 'Salon / Barbershop', 'Laundry Service', 'Bar', 
                  'Gym / Fitness Center', 'Hotel', 'Music Venue', 'BBQ Joint', 'Bookstore', 'Drugstore / Pharmacy',
                  'Sporting Goods Shop', 'Bakery', 'Fast Food Restaurant', 'Chinese Restaurant', 'Theater', 'Movie Theater', 
                  'Sushi Restaurant', 'Miscellaneous Shop', 'French Restaurant', 'Seafood Restaurant', 'Fried Chicken Joint', 
                  'Italian Restaurant', 'Toy / Game Store', 'Vegetarian / Vegan Restaurant', 'Donut Shop', 'German Restaurant', 
                  'Bowling Alley', 'Beer Garden', 'Candy Store', 'Bagel Shop', 'Cuban Restaurant', 'Cupcake Shop', 
                  'Breakfast Spot', 'Hardware Store', 'Japanese Restaurant',  'Latin American Restaurant', 'Spanish Restaurant',
                  'Spa / Massage', 'Middle Eastern Restaurant', 'Malaysian Restaurant', 'Record Shop', 'Wings Joint', 
                  'Gas Station / Garage', 'Asian Restaurant', 'Burrito Place', 'Thai Restaurant', 'Salad Place', 
                  'Ramen /  Noodle House', 'Automotive Shop', 'Convenience Store', 'Tea Room',  'Indian Restaurant', 
                  'Thrift / Vintage Store', 'Paper / Office Supplies Store', 'Cosmetics Shop', 'Southern / Soul Food Restaurant',
                  'Smoke Shop', 'Snack Place', 'Furniture / Home Store', 'Caribbean Restaurant', 'Video Game Store', 'Steakhouse',
                  'Greek Restaurant', 'Dumpling Restaurant', 'Mediterranean Restaurant', 'African Restaurant', 'Taco Place', 
                  'Jewelry Store', 'Hot Dog Joint', 'South American Restaurant', 'Winery']
df_filtered_final = sorted_venue_data_2[sorted_venue_data_2['Category_Name'].isin(categories_of_interest)] 
# df_filtered_final = sorted_venue_data_2
df_filtered_final.sort_values(['Visitor_Count'], axis=0, ascending=False, inplace=False, kind='quicksort', na_position='last')
df_filtered_final.head(5)

# Here we can see that multiple electornic stores at different locations.

,Venue_ID,Category_Name,Latitude,Longitude,Visitor_Count
1091,4b55670ff964a52071e327e3,Electronics Store,35.699015,139.774622,2840
1990,4b0bc75ff964a520923323e3,Bookstore,35.700427,139.771752,457
1825,4b556e38f964a5201ae427e3,Electronics Store,35.675439,139.762895,414
2096,4e0db092cc3fffc1d3a2bf4c,Bookstore,35.699508,139.770454,413
1897,4b2af373f964a520beb224e3,Electronics Store,35.672267,139.765776,406

In [13]:
df_filtered_final.shape

(770, 5)

In [14]:
# Credits to gihub.com/SalimT for these functions

from math import cos, asin, sqrt
nearNeighborhoods = []

# Calculates the distance between two coordinates
def distance(lat1, lon1, lat2, lon2):
    p = 0.017453292519943295
    a = 0.5 - cos((lat2-lat1)*p)/2 + cos(lat1*p)*cos(lat2*p) * (1-cos((lon2-lon1)*p)) / 2
    return 12742 * asin(sqrt(a))

# Finding the closest venue having less than the most number of shops to the target venue within the sorted list which has the most number of shops
def closest(data, v): 
    return min(data, key=lambda p: distance(float(v[0]),float(v[1]),float(p[0][0]),float(p[0][1])) if p[0] not in nearNeighborhoods else 9999)

import math as Math
def pointInCircle(lat0, lon0, r, lat, lon):  
    C = 40075.04                                               # Earth circumference
    A = 360*r/C                                                # semi-minor in north-south direction 
    B = A/Math.cos(Math.radians(float(lat0)));                 # semi-major in east-west direction
    return Math.pow((float(lat)-float(lat0))/A, 2) + Math.pow((float(lon)-float(lon0))/B, 2) < 1;

In [15]:
# For each coordinate we want to find the number of Electronic Store present within three kms
radius = 3
mostVisitedCommercialPlace = {}
visited = []

id = 0
for index, row in df_filtered_final.iterrows():
    
    c = [row['Latitude'], row['Longitude']]
    coords = tuple(c)
    if coords in visited:
        continue
    visited.append(coords)

    storeCount = {}
    for i, r in df_filtered_final.iterrows():
        temp_coord = tuple([r['Latitude'], row['Longitude']])
        venue_type = r['Category_Name']
        
        if pointInCircle(coords[0], coords[1], radius, temp_coord[0], temp_coord[1]) and temp_coord not in visited:
            
            visited.append(temp_coord)
            if venue_type not in storeCount:
                storeCount[venue_type] = 1
            else:
                storeCount[venue_type] = storeCount.get(venue_type)+1

        if maxVisited not in storeCount:
            mostVisitedCommercialPlace[coords] = 0
        else: 
            mostVisitedCommercialPlace[coords] = storeCount.get(maxVisited)
    id+=1
    print(id)       

sorted_dict = sorted(mostVisitedCommercialPlace.items(), key=lambda x: x[1], reverse=True)
mostShopCoord = list(sorted_dict)[0][0]

i = 0
for c in sorted_dict:
    print(c[0], ":", c[1])
    i+=1
    if(i==30):
        break

print("Coordinate that has the given specific shop the most: ", mostShopCoord, " which is: ", list(sorted_dict)[0][1])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
(35.68435257369705, 139.73719954490662) : 21
(35.68433296624852, 139.74218845367432) : 21
(35.685535547509154, 139.77484703063965) : 21
(35.6864766854162, 139.72904562950134) : 21
(35.686439390552145, 139.68487850418327) : 21
(35.68684072825564, 139.7741263290934) : 21
(35.6847442424678, 139.76341348869008) : 21
(35.686276258829416, 139.73653435707092) : 21
(35.685936700282824, 139.6158176667451) : 21
(35.68668800420691, 139.72854807972908) : 21
(35.68607583173909, 139.77600574493408) : 21
(35.68485310665427, 139.7838270664215) : 21
(35.686038796243366, 139.66934233903885) : 21
(35.686476, 139.784404) : 21
(35.68654857743877, 139.78344082832336) : 21
(35.68440489706805, 139.68536204544893) : 21
(35.686039050003295, 139.7390273) : 21
(35.68681349, 139.773637) : 21
(35.68560219869659, 139.7835977691558) : 21
(35.67887319366422, 139.78747487068176) : 20
(35.679467991491705, 139.74145084619522) : 20
(35.678823082289455, 139.66568380594256) : 20
(35.67837643603711, 139.78663802146912) : 20
(35.68835114950396, 139.76315891999548) : 20
(35.688207767271784, 139.69623030487722) : 20
(35.687082319216536, 139.76545929908752) : 20
(35.688001653824074, 139.69898343086246) : 20
(35.6781683633928, 139.7681871056557) : 20
(35.683384000000004, 139.70154385) : 20
(35.68161184137628, 139.78618204593658) : 20
Coordinate that has the given specific shop the most:  (35.68435257369705, 139.73719954490662)  which is:  21

In [16]:
del sorted_dict[0] # Deleting for the sake of finding the coords most similar to this

In [17]:
CLIENT_ID = 'I5AKKEVY2J2HUAM0XSAKK0KVHD3WSSTXPS2055CJORRLE3UL' # your Foursquare ID
CLIENT_SECRET = 'TS4KJOJSMF5TTUBUXVNKLYMHKIX3NCLWIUL1QEPEZM0NIXBP' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 1
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: I5AKKEVY2J2HUAM0XSAKK0KVHD3WSSTXPS2055CJORRLE3UL
CLIENT_SECRET:TS4KJOJSMF5TTUBUXVNKLYMHKIX3NCLWIUL1QEPEZM0NIXBP

In [20]:
neighborhoods = {}
findNumOfPlaces = 5

centerNeighborhoodData = requests.get('https://api.foursquare.com/v2/venues/search?&client_id={}&client_secret={}&v={}&ll={},{}&limit=1'.format(CLIENT_ID,CLIENT_SECRET, VERSION, float(mostShopCoord[0]), float(mostShopCoord[1]))).json()

centerNeighborhood = centerNeighborhoodData['response']['venues'][0]['location']['formattedAddress']

while len(neighborhoods) != findNumOfPlaces:
    nearNeighborhoods.append(closest(list(sorted_dict), mostShopCoord)[0])
    lat = nearNeighborhoods[-1][0]
    lng = nearNeighborhoods[-1][1]
    url = 'https://api.foursquare.com/v2/venues/search?&client_id={}&client_secret={}&v={}&ll={},{}&limit=1'.format(CLIENT_ID,CLIENT_SECRET, VERSION,lat,lng)
    results=requests.get(url).json()
    
    try:
        neighborhoods[results['response']['venues'][0]['location']['neighborhood']] = tuple([lat,lng])
    except:
        continue

In [24]:
translated_neighborhoods = {}
for neighbor in neighborhoods:
  eng_name = translate(neighbor, "en", "auto")
  translated_neighborhoods[eng_name] = neighborhoods[neighbor]
  print(eng_name)

Shimbashi
Roppongi
Shinjuku
Ginza
Shinjuku ward

In [27]:
import folium

mapfig = folium.Map( location=[35.68, 139.74], zoom_start=13)
latlon = []
neighboorhoodNames = []

for name, coords in translated_neighborhoods.items():
    latlon.append(tuple([float(coords[0]), float(coords[1])]))
    neighboorhoodNames.append(name)


# shop's coordinates with the most number of the given shop
folium.CircleMarker(
        [mostShopCoord[0], mostShopCoord[1]],
        radius=4,
        color='#ff0000',
        fill=True,
        fill_color='#ff0000',
        popup=folium.Popup('{}, Tokyo'.format(centerNeighborhood), parse_html=True),
        parse_html=False,
        fill_opacity=0.8).add_to(mapfig)


# label the potential neighborhoods
for c, n in zip(latlon, neighboorhoodNames):
    label = '{}, Tokyo'.format(n)
    label = folium.Popup(label, parse_html=True)

    folium.Marker(location=[ c[0], c[1] ], popup=label ).add_to( mapfig )

mapfig